<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Edeedjob</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span>
              Edeedjob
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="job.html"> Jobs </a>
                </li>
              </ul>
              <form class="form-inline  ml-0 ml-lg-4 ">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
              <ul class="user_option navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#"> <img src="../static/images/login.png" alt=""> <span>Login</span> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> <img src="../static/images/register.png" alt="">
                    <span>Register</span></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- job section -->

  <section class="job_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Recommended jobs <br>
          <span>
            15000+ Job Available For you
          </span>
        </h2>
      </div>
      <div class="handler_btn-box" id="myTab" role="tablist">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active " id="jb-1-tab" data-toggle="tab" href="#jb-1" role="tab" aria-controls="jb-1" aria-selected="true"> Full Time</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="jb-2-tab" data-toggle="tab" href="#jb-2" role="tab" aria-controls="jb-2" aria-selected="false">Part time</a>
          </li>
        </ul>

      </div>
      <div class="tab-content" id="myTabContent">
        <div class="job_board tab-pane fade show active" id="jb-1" role="tabpanel" aria-labelledby="jb-1-tab">
          <div class="content-box">
            <div class="content layout_padding2-top">
              <div class="box">
                <h3>
                  Graphic <br>
                  Design
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  UX <br>
                  Design
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>

                  web <br>
                  Design
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  UI <br>
                  Design
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
            </div>
            <div class="btn-box">
              <a href="">
                See More
              </a>
            </div>
          </div>
          <div class="content-box">
            <div class="content layout_padding2-top">
              <div class="box">
                <h3>
                  PHP <br>
                  developer
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  angular <br>
                  developer
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  HTML&CSS <br>
                  developer
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  wordpress <br>
                  developer
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
            </div>
            <div class="btn-box">
              <a href="">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="job_board tab-pane fade" id="jb-2" role="tabpanel" aria-labelledby="jb-2-tab">
          <div class="content-box">
            <div class="content layout_padding2-top">
              <div class="box">
                <h3>
                  web <br>
                  Design
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  Graphic <br>
                  Design
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  UI <br>
                  Design
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  UX <br>
                  Design
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
            </div>
            <div class="btn-box">
              <a href="">
                See More
              </a>
            </div>
          </div>
          <div class="content-box">
            <div class="content layout_padding2-top">
              <div class="box">
                <h3>
                  angular <br>
                  developer
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  PHP <br>
                  developer
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  wordpress <br>
                  developer
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>
              <div class="box">
                <h3>
                  HTML&CSS <br>
                  developer
                </h3>
                <a href="">
                  Apply Now
                </a>
              </div>

            </div>
            <div class="btn-box">
              <a href="">
                See More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end job section -->



  <!-- info section -->
  <section class="info_section layout_padding2-bottom layout_padding-top">
    <div class="container info_content">

      <div>
        <div class="row">
          <div class="col-md-3 about_links">
            <div class="d-flex">
              <h5>
                About Us
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="">
                    About services
                  </a>
                </li>
                <li>
                  <a href="">
                    About
                  </a>
                </li>
                <li>
                  <a href="">
                    Services
                  </a>
                </li>
                <li>
                  <a href="">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex">
              <h5>
                Jobs
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    established fact that a
                  </a>
                </li>
                <li>
                  <a href="">
                    reader will be
                  </a>
                </li>
                <li>
                  <a href="">
                    distracted by the
                  </a>
                </li>
                <li>
                  <a href="">
                    readable content of a
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex">
              <h5>
                Services
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    established fact that a
                  </a>
                </li>
                <li>
                  <a href="">
                    reader will be
                  </a>
                </li>
                <li>
                  <a href="">
                    distracted by the
                  </a>
                </li>
                <li>
                  <a href="">
                    readable content of a
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex">
              <h5>
                Useful Link
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    established fact that a
                  </a>
                </li>
                <li>
                  <a href="">
                    reader will be
                  </a>
                </li>
                <li>
                  <a href="">
                    distracted by the
                  </a>
                </li>
                <li>
                  <a href="">
                    readable content of a
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-3  mt-2">
          <div class="social-box">
            <a href="">
              <img src="../static/images/fb.png" alt="" />
            </a>

            <a href="">
              <img src="../static/images/twitter.png" alt="" />
            </a>
            <a href="">
              <img src="../static/images/linkedin.png" alt="" />
            </a>
            <a href="">
              <img src="../static/images/insta.png" alt="" />
            </a>
          </div>

        </div>
        <div class="col-lg-9">
          <div class="form_container mt-2">
            <form action="">
              <label for="subscribeMail">
                Newsletter
              </label>
              <input type="email" placeholder="Enter Your email" id="subscribeMail" />
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
  </footer>
  <!-- footer section -->


  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>

</body>

</html>