<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
    {% load static %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>用户管理</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="#">
            <span>
              用户管理
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="job.html"> Jobs </a>
                </li>
              </ul>
              <form class="form-inline  ml-0 ml-lg-4 ">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
              <ul class="user_option navbar-nav">
                <li class="nav-item">

                  <a class="nav-link" > <img src="../static/images/login.png" alt=""> <span>{{ show_user }}</span>  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/"> <img src="../static/images/register.png" alt="">
                    <span>退出</span></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
          <br />
          <br />
          <form id="userform" action="createproduct" method="post">
              {% csrf_token %}
              <input style="display:none" name="username" value="{{ show_user }}">
          </form>
          <button  onclick="document:userform.submit()" >创建新产品</button>
          <button type="" class="" >
                  创建产品
                </button>
      </div>

    </header>
    <body>
       <dev>
           <br />
           <a> <font color="#fffaf0">&ensp;&ensp;&ensp;产品列表 </font></a>
            <ul>
            <br />
                <li><font color="#fffaf0">名称</font></li>
            <br />
            {% for show in list %}
                <li><a href="myinfo/{{ show.id }}"><font color="#fffaf0">{{show}} &ensp;&ensp;&ensp; {{show.P_Status}}</font></a></li>
                <br />
            {% endfor %}
            </ul>

       </dev>
    </body>
    <!-- end header section -->
    <!-- slider section -->


</html>